section{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 2em;
}

img{
    width: 100%;
}

mat-form-field{
    width: 100%;
}

mat-card{
    margin: 2em 1em;
    width: auto;
    max-width: 800px;
}

mat-spinner{
    margin-right: 1em;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.registerImagen{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.botonera{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    section{
        display: flow-root;
    }
    
    img{
        max-height: 15em;
        width: auto;
    }

    .contenedor{
        grid-template-columns: 1fr;
    }
}