<section>
    <mat-card>
        <h1>Actualiza tu información</h1>
        <p>A continuación selecciona qué es lo que quieres actualizar</p>
        <mat-accordion>
    <!-- Nombre de usuario -->
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Nombre de usuario
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Aquí podrás actualizar tu nombre de usuario</p>
        
                    <form [formGroup]="formularioNombre" (ngSubmit)="actualizarNombre()" autocomplete="off">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre de usuario</mat-label>
                            <input type="email" matInput placeholder="xX_ChefMaster3000_Xx" formControlName="nombreDelUsuario">
                        </mat-form-field>
        
                        <div class="botonera">
                            <mat-spinner *ngIf="procesando" diameter="30" class="spinner"></mat-spinner>
                            <button type="submit" [disabled]="seCambioNombre" mat-flat-button color="primary">Actualizar</button>
                        </div>
                    </form>
                </mat-expansion-panel>

    <!-- Foto de perfil -->    
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Foto de perfil
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Aquí podrás actualizar tu nombre de usuario y foto de perfil</p>
        
                    <form [formGroup]="formularioFoto" (ngSubmit)="actualizarFoto()" autocomplete="off">
        
                        <input (change)="obtenerImagen($event)" type="file" accept="image/png, image/jpeg">
        
                        <div class="botonera">
                            <mat-spinner *ngIf="procesando" diameter="30" class="spinner"></mat-spinner>
                            <button [disabled]="seCambioFoto" type="submit" mat-flat-button color="primary">Actualizar</button>
                        </div>
                    </form>
                    <mat-progress-bar *ngIf="procesando" style="margin-top: 1em;" mode="determinate" [value]="progresoDeCarga"></mat-progress-bar>
                </mat-expansion-panel>

    <!-- Contraseña -->
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Contraseña
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Aquí podrás actualizar tu contraseña</p>
        
                    <form autocomplete="off">
                        <mat-form-field appearance="outline">
                            <mat-label>Introduce tu nueva contraseña</mat-label>
                            <input type="password" matInput placeholder="NoLaOlvides">
                        </mat-form-field>
        
                        <mat-form-field appearance="outline">
                            <mat-label>Repitela para corroborar</mat-label>
                            <input type="password" matInput placeholder="NoLaOlvides">
                        </mat-form-field>
        
                        <div class="botonera">
                            <mat-spinner *ngIf="procesando" diameter="30" class="spinner"></mat-spinner>
                            <button type="submit" mat-flat-button color="primary">Actualizar</button>
                        </div>
                    </form>
                </mat-expansion-panel>

    <!-- Eliminar cuenta -->

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Eliminar perfil
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>A nosotros nos gusta que estés aquí, pero si ya tomaste la decisión no somos quién para impedirtelo. Pero antes de que te vayas ten en cuenta los siguientes puntos:</p>
        <ul>
            <li>Las recetas que creaste seguirán siendo públicas, si quieres que ya no lo sean, antes de borrar tu cuenta elimina las recetas que hayas hecho.</li>
            <li>Aquellas recetas que no hayas eliminado seguiran mostrando tu nombre de usuario.</li>
            <li>Los únicos datos que seguiremos almacenando serán las recetas y las fotos de las mismas.</li>
        </ul>

        <form [formGroup]="formularioEliminar" autocomplete="off">
            <mat-checkbox [disabled]="deAcuerdo" [checked]="deAcuerdo" (click)="deAcuerdo == false ? deAcuerdo = true : !deAcuerdo" color="primary" formControlName="deAcuerdo">
                Estoy de acuerdo con los puntos anteriores.
            </mat-checkbox>
        </form>

        <div class="botonera">
            <mat-spinner *ngIf="procesando" diameter="30" class="spinner"></mat-spinner>
            <button (click)="log()" [disabled]="!deAcuerdo" mat-flat-button color="warn">Eliminar cuenta</button>
        </div>
    </mat-expansion-panel>
                
               

        </mat-accordion>
    </mat-card>
</section>



<!--mat-expansion-panel hideToggle>
    <form [formGroup]="formularioDeEliminarCuenta">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Eliminar perfil
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>A nosotros nos gusta que estés aquí, pero si ya tomaste la decisión no somos quién para impedirtelo. Pero antes de que te vayas ten en cuenta los siguientes puntos:</p>
        <ul>
            <li>Las recetas que creaste seguirán siendo públicas, si quieres que ya no lo sean, antes de borrar tu cuenta elimina las recetas que hayas hecho.</li>
            <li>Aquellas recetas que no hayas eliminado seguiran mostrando tu nombre de usuario.</li>
            <li>Los únicos datos que seguiremos almacenando serán las recetas y las fotos de las mismas.</li>
        </ul>
        <mat-checkbox color="primary" formControlName="deAcuerdo">
            Estoy de acuerdo con los puntos anteriores.
        </mat-checkbox>

        <div class="botonera">
            <mat-spinner *ngIf="procesando" diameter="30" class="spinner"></mat-spinner>
            <button (click)="log()" mat-flat-button color="warn">Eliminar cuenta</button>
        </div>
    </form>
</mat-expansion-panel-->