<mat-toolbar color="primary">
  <span class="logotipo" [routerLink]="['/']" >
    <img src="./assets/logotipo.svg" alt="Omedeto">
  </span>
  <span class="espaciador"></span>

  <div *ngIf="conexionDelUsuario | async as user; else login">
    <button mat-flat-button color="accent" [matMenuTriggerFor]="menu"> {{user.displayName}} </button>

    <mat-menu #menu="matMenu" xPosition="before">
      <button [routerLink]="['/recipe']" mat-menu-item>
        <mat-icon>post_add</mat-icon>
        Crear nueva receta
      </button>

      <button [routerLink]="['/profile']" mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        Mi perfil
      </button>

      <button (click)="cerrarSesion()" [routerLink]="['/']" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        Cerrar sesión
      </button>
    </mat-menu>
  </div>

  <ng-template #login>
    <button [routerLink]="['/login']" mat-flat-button color="accent">Iniciar sesión</button>
    <button [routerLink]="['/register']" mat-flat-button color="accent">Registrate</button>
  </ng-template>
</mat-toolbar>