section{
    display: flex;
    justify-content: center;
    width: 100vw;
}

img{
    width: 100%;
}

mat-form-field{
    width: 100%;
}

mat-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    width: 100%;
    max-width: 800px;
    margin: 2em 1em;
}

mat-spinner{
    margin-right: 1em;
}

.loginImagen{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.botonera{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    img{
        max-height: 15em;
        width: auto;
    }

    mat-card{
        grid-template-columns: 1fr;
    }
}