<mat-progress-bar color="accent" *ngIf="!progreso" mode="indeterminate"></mat-progress-bar>

<section *ngIf="progreso">
    <mat-card class="contenedor">
        <mat-card-header>
            <div mat-card-avatar>
                <img class="avatar" src="{{fotoUrl}}" alt="">
            </div>
            <mat-card-title>{{receta[0].nombre}}</mat-card-title>
            <mat-card-subtitle>Por {{receta[0].autorNombre}}, el {{fecha}}.</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{receta[0].fotos}}" alt="">

        <mat-card-content>

            <div>
                <h2>Descripción</h2>
                <p>{{receta[0].descripcion}}</p>
                <div class="datosRecetas">
                    <div class="recetaCaracteristicas">
                        <mat-icon>signal_cellular_alt</mat-icon>
                        <p><b>Nivel de dificultad:</b> {{receta[0].dificultad}}</p>
                    </div>
                    <div class="recetaCaracteristicas">
                        <mat-icon>timer</mat-icon>
                        <p><b>Tiempo de realización:</b> {{receta[0].tiempo.horas}}:{{receta[0].tiempo.minutos}} horas</p>
                    </div>
                </div>
            </div>

            <div>
                <h2>Ingredientes</h2>
                <div class="recetaIngredientes" *ngFor="let ingrediente of receta[0].ingredientes">
                    <mat-icon>check_box</mat-icon>
                    <p><b>{{ingrediente.cantidad}}</b> de {{ingrediente.ingrediente}}</p>
                </div>
            </div>

            <div>
                <h2>Pasos de elaboración</h2>
                <div class="recetaPasos" *ngFor="let paso of receta[0].pasos; let i = index">
                    <mat-icon>menu_book</mat-icon>
                    <p><b>Paso número {{i + 1}}:</b> {{paso.paso}}</p>
                </div>
            </div>


        </mat-card-content>
    </mat-card>
</section>
