<mat-progress-bar *ngIf="procesando" mode="indeterminate"></mat-progress-bar>

<section class="layer">
    <div class="grid">
        <mat-card class="tarjeta" [routerLink]="['/recipeView/', receta.id]" *ngFor="let receta of recetas; let i = index">
            <mat-card-header>
                <mat-card-title>
                    <p>
                        {{recetas[i].nombre}}
                    </p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>
                        Por {{recetas[i].autorNombre}}
                    </p>
                </mat-card-subtitle>
            </mat-card-header>
            <div class="imagen" mat-card-image>
                <img src="{{recetas[i].fotos}}" alt="Foto de la receta {{recetas[i].nombre}}">
            </div>
            
        </mat-card>
    </div>
</section>