section{
    display: flex;
    justify-content: center;
}

mat-card{
    cursor: pointer;
}

img{
    height: 20em;
}

.grid{
    max-width: 1080px;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding-bottom: 2em;
    margin: 2em 1em;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta:hover{
    outline: solid 0.3em rgb(0, 87, 97);
}

.imagen{
    overflow: hidden;
    height: 20em;
    align-self: flex-end;
}

.imagen > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

@media (max-width: 1080px) {
    section{
        display: unset;
    }

    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 720px) {
    section{
        display: unset;
    }

    .grid{
        grid-template-columns: 1fr;
    }
}