<section class="layer">
    <div class="grid">
        <mat-card [routerLink]="['/recipeView/', receta.id]" *ngFor="let receta of recetas; let i = index">
            <mat-card-header>
                <mat-card-title>
                    <p>
                        {{recetas[i].nombre}}
                    </p>
                </mat-card-title>
                <mat-card-subtitle>
                    <p>
                        Por {{recetas[i].autorNombre}}
                    </p>
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{recetas[i].fotos}}" alt="Foto de la receta de {{recetas[i].nombre}}">
            <mat-card-content>
                <p>
                    {{recetas[i].descripcion}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</section>