<section>
    <mat-card class="tarjeta">
        <h1>Esto es lo que sabemos de ti</h1>
        <div class="contenedor">
            <div class="profileImagen">
                <h2>Foto de perfil</h2>
                <img src="{{datosDelUsuario.fotoUrl}}" alt="Imagen ilustrativa">
            </div>
            <div class="loginFormulario">
                <h2>Nombre de usuario</h2>
                <p>{{datosDelUsuario.nombreDelUsuario}}</p>
                <h2>Correo electrónico</h2>
                <p>{{datosDelUsuario.correo}}</p>
            </div>
        </div>
    </mat-card>
</section>