section{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    width: 100%;
    /*height: 100%;*/
}

img{
    width: 100%;
}

mat-form-field{
    width: 100%;
}

.tarjeta{
    width: 100%;
    max-width: 800px;
    margin: 5vh 1em;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.profileImagen{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.botonera{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) {
    img{
        max-height: auto;
        width: 100%;
    }

    .contenedor{
        grid-template-columns: 1fr;
    }
}