@use '@angular/material' as mat;

@include mat.core();

// Colores
$omedeto-primary: (
 normal: #005761,
 contrast: (
  normal: rgba(white, 0.8),
 )
);

$omedeto-accent: (
 normal: #7fd7ec,
 contrast: (
   normal: rgba(black, 0.8),
 )
);

$omedeto-warn: (
 normal: #cb56a6,
 contrast: (
   normal: rgba(white, 0.8),
 )
);

$omedeto-extra: (
 normal: #cbb656,
 contrast: (
   normal: rgba(white, 0.8),
 )
);

// Paletas

$omedeto-primary-palette: mat.define-palette($omedeto-primary, normal);
$omedeto-accent-palette: mat.define-palette($omedeto-accent, normal);
$omedeto-warn-palette: mat.define-palette($omedeto-warn, normal);
$omedeto-extra-palette: mat.define-palette($omedeto-extra, normal);

$my-theme: mat.define-light-theme((
 color: (
   primary: $omedeto-primary-palette,
   accent: $omedeto-accent-palette,
   warn: $omedeto-warn-palette,
   extra: $omedeto-extra-palette,
 )
));

@include mat.all-component-themes($my-theme);