<section>
    <mat-card class="contenedor">
        <div class="registerImagen">
            <img src="./assets/registerImage.png" alt="Imagen ilustrativa">
        </div>
        <div class="registerFormulario">
            <h1>Registrate en nuestra plataforma</h1>

            <form [formGroup]="formularioDeRegistro" (ngSubmit)="registrar()" autocomplete="off">
                <h2>Crear cuenta</h2>
                <p>Es necesario que rellenes todos los campos</p>
                <mat-form-field appearance="outline">
                    <mat-label>Date un nombre de usuario</mat-label>
                    <input type="email" matInput placeholder="xX_ChefMaster3000_Xx" formControlName="nombreDelUsuario">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Pon tu correo electrónico</mat-label>
                    <input type="email" matInput placeholder="ejemplo@correo.com" formControlName="correo">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Crea una contraseña</mat-label>
                    <input type="password" matInput placeholder="NoLaOlvides" formControlName="contrasenna">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirma tu contraseña</mat-label>
                    <input type="password" matInput placeholder="NoLaOlvides" formControlName="confirmacionContrasenna">
                </mat-form-field>

                <input (change)="obtenerImagen($event)" type="file" accept="image/png, image/jpeg">

                <div class="botonera">
                    <mat-spinner *ngIf="cargando" class="spinner"></mat-spinner>
                    <button type="submit" mat-flat-button color="primary">Crear</button>
                </div>

            </form>

            <div>
                <h2>¿Ya tienes cuenta?</h2>
                <p>Inicia sesión presionando en el siguiente <a [routerLink]="['/login']">enlace</a></p>
            </div>
        </div>
    </mat-card>
</section>